/*
 * css to modify bootstrap settings and add my own details
*/
body {
  background-image: url("../images/background2.png");
  background-repeat: repeat;
  background-color: #ffffff;
}
.img {

  align-self: center;
}
.icons {
  padding: 5px !important;
}
.github {
  float: right;
}

.avatar {
  display: flex;
  justify-content: center;

}
#avatar {
  border-radius: 50%;

}

