/* 

--fonts/colors/sizing for bio and the rest
--better background
--click email

*/

body {
  
  /* font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
  background-image: url("../images/background2.png");
  background-repeat: repeat;
  background-color: #ffffff;
}

a { color:black } 
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }

.header{
  
  /* background-image: url("../images/dev.jpg");
  background-size: auto; */
  margin-bottom: 10px;
}

#avatar {
  margin-top: 10px;
  border-radius: 50%;
}

.contact {
  margin-top: 10px;
  float: right;
}

.icon {
  height: 20px;
}

.email-icon {
  height: 25px;
}
.phone-icon {
  margin-left:2px;
  height: 15px;
  padding-bottom: 1px;
}

.nav{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: rgb(21,93,119);
  color: white;
}

.nav-button {
  margin: 10px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.main-section {
  margin-top: 10px;
}

.my-p-img {
  height: 200px !important;
  width: 400px !important;
}

.p-item{
  border: 1px solid black;
  display: flex;
  justify-content: center;
}


.my-bg-primary {
  background-color: rgb(21,93,119);
  color: #ffffff;
  opacity: 0.8;
}

hr {
  border: none;
  height: 1px !important;
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

/* media query for 640px screen or smaller */
@media screen and (max-width: 640px) {
  .nav-button {
    margin: 0px;
  }

  .my-sm-image-wrapper {
      width: 100%;
  }
  
  .card {
      width: 100%;
      height: auto;
  }

  .card-img {
      width: 100%;
      height: auto;
  }


  .container {
      max-width: 640px;
  }
  

}