/*
 * css to modify bootstrap settings and add my own details
*/
body {
  background-image: url("../images/background2.png");
  background-repeat: repeat;
  background-color: #ffffff;
}

#avatar {
  margin-top: 10px;
  border-radius: 50%;
  /* float: left; */
}

.contact {
  margin-top: 10px;
  float: right;
  margin-left: 10px;
}

.icon {
  height: 20px;
}

.email-icon {
  height: 25px;
}
.phone-icon {
  margin-left:2px;
  height: 15px;
  padding-bottom: 1px;
}

.nav{
  border-top: 2px solid black;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: gray;
  color: white;
}

.nav-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  padding-top: 10px;
}

.home {
  margin-left: 25px;
}

.projects {
  margin-left: 10px;
  margin-right:10px;
}